#productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    outline: 0.2rem solid #2bbe7a;
    border-radius: 15px;
    margin: 2rem;
    padding: 1rem;
    }